.formulario {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 330px;
    height: auto;
}

.formulario label {
    display: block;
    margin-bottom: 8px;
}

.formulario input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.formulario button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}